.about-banner {
    position: relative;
    width: 100%;
    height: 40vh; 
    background: url('../img/about_banner.png') no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    transition: background-image 1s ease-in-out;
}


.about-banner img {
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain; 
}