/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}


.banner {
    position: relative;
    width: 100%;
    height: 40vh; 
    background: url('../img/about_banner.png') no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    transition: background-image 1s ease-in-out;
}


.banner img {
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain; 
}

.about-detailed-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px; 
    margin: 50px auto 0; 
    max-width: auto;
    z-index: 2; 
    position: relative; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto; 
    gap: 20px; 
    width: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}


.grid-heading {
    text-align: left;
    align-self: start; 
    justify-self: center;
    margin-top: 20px;
    
}

.grid-heading h1 {
    font-size: 2.5rem;
    color: #e68173;
    font-weight: 700;
}


.grid-content {
    text-align: left;
   
}

.grid-content p {
    font-size: 1rem;
    margin-bottom: 25px;
}

.grid-content strong {
    color: #000;
}

/* Image Styles */
.grid-image {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-image img {
    width: 100%; 
    max-width: 250px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-caption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #777;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
    }

    .grid-heading,
    .grid-content,
    .grid-image {
        text-align: center;
    }

    .grid-image img {
        max-width: 100%;
    }
}
